@import "styles/var";
@import "styles/breakpoints";

.nav {
    padding: 60px 150px;
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #D62E2E;
  @media (max-width: $desktop_xsm) {
    padding: 20px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $padding-horizontal-md;
  }
}
.nav__info{
  padding-left: 45%;
  display: flex;
  flex-flow: row nowrap;
 
&__a{
  text-decoration: none;
  color: #f6f6f6;
  transition:all 0.2s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}
}
.logo{
    display: flex;
    padding: 0% 1%;
    width: 10vw;
    align-items: center;
}

.nav__details{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center;
 padding: 0% 2%;
 width: 7vw;
 gap: 10px;

}
.bar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 25px;
  height: 13vh;
  overflow: hidden;
  align-items: center;
  gap: 10px;
}

.header {
  align-items: center;
  background-color: #222421;
  background-image: url("/assets/menuscrap/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 360px;
  justify-content: center;
  @media (max-width: $desktop_xsm) {
    padding: 0px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $padding-horizontal-md;
  }
  &__text {
    color: #f6f6f6;
    font-size: 2.4rem;
    min-width: 400px;
    text-align: center;
    width: 40%;
    &__span{
        color: #ffd900;
        font-weight: 700;
    }
  }
}

.menu {
  padding: 50px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 50px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $padding-horizontal-md;
  }
  &__title {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }

}