@font-face {
    font-family: '3270Regular';
    src: url('/public/fonts/3270-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /*npm install nromalize*/

body {
  background-color: #f6f6f6;
  font-family: '3270Regular';
}


* {
  box-sizing: border-box;
}